<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.wsyzz.candy.mapper.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="xyz.wsyzz.candy.entity.model.Employee" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="employee_id" property="employeeId" jdbcType="INTEGER" />
    <result column="to_company" property="toCompany" jdbcType="VARCHAR" />
    <result column="hs_sub_company" property="hsSubCompany" jdbcType="VARCHAR" />
    <result column="from_hr" property="fromHr" jdbcType="VARCHAR" />
    <result column="employee_name" property="employeeName" jdbcType="VARCHAR" />
    <result column="en_name" property="enName" jdbcType="VARCHAR" />
    <result column="bonus_cashing" property="bonusCashing" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="zs_bank_card" property="zsBankCard" jdbcType="VARCHAR" />
    <result column="probation_salary" property="probationSalary" jdbcType="DECIMAL" />
    <result column="regular_salary" property="regularSalary" jdbcType="DECIMAL" />
    <result column="business_price" property="businessPrice" jdbcType="DECIMAL" />
    <result column="join_date" property="joinDate" jdbcType="INTEGER" />
    <result column="regular_date" property="regularDate" jdbcType="INTEGER" />
    <result column="position_type" property="positionType" jdbcType="VARCHAR" />
    <result column="position_level" property="positionLevel" jdbcType="VARCHAR" />
    <result column="social_start_date" property="socialStartDate" jdbcType="INTEGER" />
    <result column="payment_area" property="paymentArea" jdbcType="VARCHAR" />
    <result column="commfund_start_date" property="commfundStartDate" jdbcType="INTEGER" />
    <result column="max_school" property="maxSchool" jdbcType="VARCHAR" />
    <result column="graduation_date" property="graduationDate" jdbcType="INTEGER" />
    <result column="max_education" property="maxEducation" jdbcType="VARCHAR" />
    <result column="work_years" property="workYears" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="resignation_date" property="resignationDate" jdbcType="INTEGER" />
    <result column="resignation_reason" property="resignationReason" jdbcType="VARCHAR" />
    <result column="offer_date" property="offerDate" jdbcType="INTEGER" />
    <result column="contract_date" property="contractDate" jdbcType="INTEGER" />
    <result column="contract_end_date" property="contractEndDate" jdbcType="INTEGER" />
    <result column="native_place" property="nativePlace" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="political_outlook" property="politicalOutlook" jdbcType="VARCHAR" />
    <result column="contact_address" property="contactAddress" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="contact_relationship" property="contactRelationship" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="location_archives" property="locationArchives" jdbcType="VARCHAR" />
    <result column="archives_join_date" property="archivesJoinDate" jdbcType="VARCHAR" />
    <result column="registered_residence" property="registeredResidence" jdbcType="VARCHAR" />
    <result column="account_join_date" property="accountJoinDate" jdbcType="INTEGER" />
    <result column="overall_commfund" property="overallCommfund" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
</mapper>