<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.wsyzz.candy.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="xyz.wsyzz.candy.entity.model.Menu" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_desc" property="menuDesc" jdbcType="VARCHAR" />
    <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
    <result column="menu_cls" property="menuCls" jdbcType="VARCHAR" />
    <result column="route_name" property="routeName" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="BIGINT" />
    <result column="menu_level" property="menuLevel" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
  </resultMap>
  <select id="selectByMenuIds" parameterType="arraylist" resultMap="BaseResultMap">
    SELECT * FROM t_menu
    <where>
      <if test="menuIds!=null">
        <foreach collection="menuIds" open="id in (" close=")" separator="," item="id">
          #{id}
        </foreach>
      </if>
    </where>
  </select>

  <select id="getMenusByUser" parameterType="xyz.wsyzz.candy.entity.TO.UserQueryTO" resultType="xyz.wsyzz.candy.entity.model.Menu">
    SELECT
    m.id,
    m.menu_name,
    m.menu_desc,
    m.menu_icon,
    m.menu_cls,
    m.route_name,
    m.pid,
    m.menu_level,
    m.status
    FROM
    t_user u
    INNER JOIN t_user_role ur ON u.id = ur.user_id
    INNER JOIN t_role_menu rm ON ur.role_id = rm.role_id
    INNER JOIN t_menu m ON rm.menu_id = m.id
    where
    u.status = 1 and m.status = 1
    <if test="id != null">
      and u.id = #{id}
    </if>
    <if test="userName != null and userName != ''">
      and u.user_name = #{userName}
    </if>
  </select>
</mapper>